<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mg.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
                  android:screenOrientation="portrait"
                  android:exported="true"
                  tools:replace="android:theme"
                  android:theme="@style/Theme_Light.Default"/>

        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                tools:replace="android:theme"
                android:screenOrientation="portrait"
                android:theme="@style/Theme_Light.Default"/>
    </application>

</manifest>
